psycopg2-binary
mlflow==1.4.0
xgboost
boto3
oandapyV20
backtrader
v20
pyfolio
minio
jupyterlab==1.2.7
plotly
ipywidgets
npm
alpaca-trade-api
xlrd
gspread
oauth2client
quandl
pyfolio
alphalens
twilio
slackclient
jupyterlab-dash==0.1.0a3
jupyter-dash
kiteconnect
dropbox